<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
 
  <targets>
    <target xsi:type="Database" name="database"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql"
            connectionString="${var:DefaultString}">
      <commandText>
        INSERT INTO "ErrorLogs"
        ("LogDate", "Message", "Exception", "StackTrace", "CreatedBy", "CreatedAt")
        VALUES (CAST(@LogDate AS TIMESTAMPTZ), @Message, @Exception, @StackTrace, @CreatedBy, CAST(@LogDate AS TIMESTAMPTZ))
      </commandText>

      <parameter name="@LogDate" layout="${longdate}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=ToString}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@CreatedBy" layout="${event-properties:CreatedBy}" dbType="Int32" />
      <parameter name="@CreatedAt" layout="${longdate}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>

</nlog>